In [78]:
# Standard Python Imports

import numpy as np
import pandas as pd
import csv
#from numba import njit
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
import matplotlib
import statsmodels.formula.api as sm
import statsmodels.formula.api as smf
import math
from scipy.stats import norm
from random import choices
from numpy import matlib
from scipy.sparse import csr_matrix
from scipy.sparse.csgraph import connected_components
from scipy.stats import mode
from scipy.sparse import identity
from scipy.sparse.linalg import inv as spinv
from scipy.sparse.linalg import spsolve as spsolve
from numpy.linalg import eig

from statsmodels.formula.api import ols

inv, ax, randint = np.linalg.inv, np.newaxis, np.random.randint
repmat, rand = np.matlib.repmat, np.random.rand

## Read in data

In [79]:
datapath = "va-data.csv"

#datapath = "/Users/fernramoutar/Dropbox/github/fabfour/pset1/va-data.csv"
df = pd.read_csv(datapath)
df.head()

,year,id_school,id_grade,id_teacher,id_class,id_student,id_cohort,m_education,hh_income,sd_indv,score_std,lag_score_std
0,2000,1,3,1,3,6,6,8,13566.4960,0.090079,0.370097,NaN
1,2000,1,3,1,3,3906,6,12,4036.5371,0.090079,-2.011367,NaN
2,2000,1,3,1,3,4556,6,21,15218.5520,0.090079,0.732662,NaN
3,2000,1,3,1,3,5206,6,18,11004.5960,0.090079,-0.251898,NaN
4,2000,1,3,1,3,10406,6,11,7115.0620,0.090079,-1.278978,NaN

## Estimate teacher VA from student scores (Appendix A)

Drift is accounted for by permitting coefficients on score data to vary non-parametrically according to the distance between observed score and forecast year

### Step 1: Residualization of test scores

Residualize student scores with respect to controls by running OLS with teacher fixed effects

In [80]:
# teacher on student scores OLS
# what should controls, X_it be?
# (i) grade and year dummies
# (ii) cubic polynomial in prior-year scores, interacted with student grade level
# (iii) class and school-year means of all other individual covariates
# (iv) class size and class type indicators

# help with identifiers
#def make_identifier(df):
 #   str_id = df.apply(lambda x: '_'.join(map(str, x)), axis=1)
 #   return pd.factorize(str_id)[0]

#df['class_school_id'] = make_identifier(df[['id_class','id_school', 'id_grade', 'year']])
#df['school_year_id'] = make_identifier(df[['id_school', 'year']])

# (i) grade and year dummies
regstring = '0'

### (ii) Interact those bad boys ###
for i in range(3,9):
    for j in range(1,4):
        df['grade_'+str(i)+'std'+str(j)] = 0
        df.loc[(df['id_grade'] == i), 'grade_'+str(i)+'std'+str(j)] = df['lag_score_std']**j
        regstring = regstring + ' + ' + 'grade_'+str(i)+'std'+str(j)
        
# (iii) class and school-year means of all other individual covariates
df['class_m_education'] = df.groupby(['id_class', 'id_school', 'id_grade', 'year'])['m_education'].transform(lambda x: x.mean())
df['class_hh_income'] = df.groupby(['id_class', 'id_school', 'id_grade', 'year'])['hh_income'].transform(lambda x: x.mean())
df['school_m_education'] = df.groupby(['id_school', 'year'])['m_education'].transform(lambda x: x.mean())
df['school_hh_income'] = df.groupby(['id_school', 'year'])['hh_income'].transform(lambda x: x.mean())

# (iv) class size
df['class_size'] = df.groupby(['id_class', 'id_school', 'id_grade', 'year'])['year'].transform(lambda x: x.count())

In [81]:
# regstring = regstring + ' + class_m_education + class_hh_income + school_m_education + school_hh_income + class_size'
# pd.set_option('display.max_columns', None)
# print(df.head())
# print(regstring)

# I'm doing something dumb here but I can't figure out what
# results = smf.ols(formula = regstring, data = df).fit()
# this is wrong, we wanna also remove the teacher fixed effects and idk how...
# K = length(coef(results))
# df['res'] = results.resid

print(df['year'].min(), df['year'].max())

2000 2007

In [82]:
# specification for residualization
regstring = 'score_std ~ ' + regstring + ' + ' + 'class_m_education + class_hh_income + school_m_education + school_hh_income + class_size'
print(regstring)
# ols

for i in range(2000,2008):
    df['year'+str(i)] = 0
    df.loc[(df['year'] == i), 'year'+str(i)] = 1
    regstring = regstring + ' + ' + 'year'+str(i)
    
varlist = []
for x in df.id_grade.unique(): 
    print('step 1', x)
    df['grade_'+str(x)] = 0
    df.loc[(df['id_grade'] == x), 'grade_'+str(x)] = 1
    regstring = regstring + ' + ' + 'grade_'+str(x)
    

### ###
Gbutnotgrade = 0
for x in df.id_teacher.unique(): 
    Gbutnotgrade += 1
    print(Gbutnotgrade)
    df['teacher_'+str(x)] = 0
    df.loc[(df['id_teacher'] == x), 'teacher_'+str(x)] = 1
    regstring = regstring + ' + ' + 'teacher_'+str(x)
    varlist.append('teacher_'+str(x))

print(Gbutnotgrade)
print(regstring)

score_std ~ 1 + grade_3std1 + grade_3std2 + grade_3std3 + grade_4std1 + grade_4std2 + grade_4std3 + grade_5std1 + grade_5std2 + grade_5std3 + grade_6std1 + grade_6std2 + grade_6std3 + grade_7std1 + grade_7std2 + grade_7std3 + grade_8std1 + grade_8std2 + grade_8std3 + class_m_education + class_hh_income + school_m_education + school_hh_income + class_size
step 1 3
step 1 4
step 1 5
step 1 6
step 1 7
step 1 8
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1200

In [99]:
print(regstring)

score_std ~ 0+ grade_3std1 + grade_3std2 + grade_3std3 + grade_4std1 + grade_4std2 + grade_4std3 + grade_5std1 + grade_5std2 + grade_5std3 + grade_6std1 + grade_6std2 + grade_6std3 + grade_7std1 + grade_7std2 + grade_7std3 + grade_8std1 + grade_8std2 + grade_8std3 + class_m_education + class_hh_income + school_m_education + school_hh_income + class_size + year2000 + year2001 + year2002 + year2003 + year2004 + year2005 + year2006 + year2007 + grade_3 + grade_4 + grade_5 + grade_6 + grade_7 + grade_8 + teacher_1 + teacher_2 + teacher_3 + teacher_4 + teacher_5 + teacher_6 + teacher_7 + teacher_8 + teacher_9 + teacher_10 + teacher_11 + teacher_12 + teacher_13 + teacher_14 + teacher_15 + teacher_16 + teacher_17 + teacher_18 + teacher_19 + teacher_20 + teacher_21 + teacher_22 + teacher_23 + teacher_24 + teacher_25 + teacher_26 + teacher_27 + teacher_28 + teacher_29 + teacher_30 + teacher_31 + teacher_32 + teacher_33 + teacher_34 + teacher_35 + teacher_36 + teacher_37 + teacher_38 + teacher_39 + teacher_40 + teacher_41 + teacher_42 + teacher_43 + teacher_44 + teacher_45 + teacher_46 + teacher_47 + teacher_48 + teacher_49 + teacher_50 + teacher_51 + teacher_52 + teacher_53 + teacher_54 + teacher_55 + teacher_56 + teacher_57 + teacher_58 + teacher_59 + teacher_60 + teacher_61 + teacher_62 + teacher_63 + teacher_64 + teacher_65 + teacher_66 + teacher_67 + teacher_68 + teacher_69 + teacher_70 + teacher_71 + teacher_72 + teacher_73 + teacher_74 + teacher_75 + teacher_76 + teacher_77 + teacher_78 + teacher_79 + teacher_80 + teacher_81 + teacher_82 + teacher_83 + teacher_84 + teacher_85 + teacher_86 + teacher_87 + teacher_88 + teacher_89 + teacher_90 + teacher_91 + teacher_92 + teacher_93 + teacher_94 + teacher_95 + teacher_96 + teacher_97 + teacher_98 + teacher_99 + teacher_100 + teacher_101 + teacher_102 + teacher_103 + teacher_104 + teacher_105 + teacher_106 + teacher_107 + teacher_108 + teacher_109 + teacher_110 + teacher_111 + teacher_112 + teacher_113 + teacher_114 + teacher_115 + teacher_116 + teacher_117 + teacher_118 + teacher_119 + teacher_120 + teacher_121 + teacher_122 + teacher_123 + teacher_124 + teacher_125 + teacher_126 + teacher_127 + teacher_128 + teacher_129 + teacher_130 + teacher_131 + teacher_132 + teacher_133 + teacher_134 + teacher_135 + teacher_136 + teacher_137 + teacher_138 + teacher_139 + teacher_140 + teacher_141 + teacher_142 + teacher_143 + teacher_144 + teacher_145 + teacher_146 + teacher_147 + teacher_148 + teacher_149 + teacher_150 + teacher_151 + teacher_152 + teacher_153 + teacher_154 + teacher_155 + teacher_156 + teacher_157 + teacher_158 + teacher_159 + teacher_160 + teacher_161 + teacher_162 + teacher_163 + teacher_164 + teacher_165 + teacher_166 + teacher_167 + teacher_168 + teacher_169 + teacher_170 + teacher_171 + teacher_172 + teacher_173 + teacher_174 + teacher_175 + teacher_176 + teacher_177 + teacher_178 + teacher_179 + teacher_180 + teacher_181 + teacher_182 + teacher_183 + teacher_184 + teacher_185 + teacher_186 + teacher_187 + teacher_188 + teacher_189 + teacher_190 + teacher_191 + teacher_192 + teacher_193 + teacher_194 + teacher_195 + teacher_196 + teacher_197 + teacher_198 + teacher_199 + teacher_200 + teacher_201 + teacher_202 + teacher_203 + teacher_204 + teacher_205 + teacher_206 + teacher_207 + teacher_208 + teacher_209 + teacher_210 + teacher_211 + teacher_212 + teacher_213 + teacher_214 + teacher_215 + teacher_216 + teacher_217 + teacher_218 + teacher_219 + teacher_220 + teacher_221 + teacher_222 + teacher_223 + teacher_224 + teacher_225 + teacher_226 + teacher_227 + teacher_228 + teacher_229 + teacher_230 + teacher_231 + teacher_232 + teacher_233 + teacher_234 + teacher_235 + teacher_236 + teacher_237 + teacher_238 + teacher_239 + teacher_240 + teacher_241 + teacher_242 + teacher_243 + teacher_244 + teacher_245 + teacher_246 + teacher_247 + teacher_248 + teacher_249 + teacher_250 + teacher_251 + teacher_252 + teacher_253 + teacher_254 + teacher_255 + teacher_256 + teacher_257 + teacher_258 + teacher_259 + teacher_260 + teacher_261 + teacher_262 + teacher_263 + teacher_264 + teacher_265 + teacher_266 + teacher_267 + teacher_268 + teacher_269 + teacher_270 + teacher_271 + teacher_272 + teacher_273 + teacher_274 + teacher_275 + teacher_276 + teacher_277 + teacher_278 + teacher_279 + teacher_280 + teacher_281 + teacher_282 + teacher_283 + teacher_284 + teacher_285 + teacher_286 + teacher_287 + teacher_288 + teacher_289 + teacher_290 + teacher_291 + teacher_292 + teacher_293 + teacher_294 + teacher_295 + teacher_296 + teacher_297 + teacher_298 + teacher_299 + teacher_300 + teacher_301 + teacher_302 + teacher_303 + teacher_304 + teacher_305 + teacher_306 + teacher_307 + teacher_308 + teacher_309 + teacher_310 + teacher_311 + teacher_312 + teacher_313 + teacher_314 + teacher_315 + teacher_316 + teacher_317 + teacher_318 + teacher_319 + teacher_320 + teacher_321 + teacher_322 + teacher_323 + teacher_324 + teacher_325 + teacher_326 + teacher_327 + teacher_328 + teacher_329 + teacher_330 + teacher_331 + teacher_332 + teacher_333 + teacher_334 + teacher_335 + teacher_336 + teacher_337 + teacher_338 + teacher_339 + teacher_340 + teacher_341 + teacher_342 + teacher_343 + teacher_344 + teacher_345 + teacher_346 + teacher_347 + teacher_348 + teacher_349 + teacher_350 + teacher_351 + teacher_352 + teacher_353 + teacher_354 + teacher_355 + teacher_356 + teacher_357 + teacher_358 + teacher_359 + teacher_360 + teacher_361 + teacher_362 + teacher_363 + teacher_364 + teacher_365 + teacher_366 + teacher_367 + teacher_368 + teacher_369 + teacher_370 + teacher_371 + teacher_372 + teacher_373 + teacher_374 + teacher_375 + teacher_376 + teacher_377 + teacher_378 + teacher_379 + teacher_380 + teacher_381 + teacher_382 + teacher_383 + teacher_384 + teacher_385 + teacher_386 + teacher_387 + teacher_388 + teacher_389 + teacher_390 + teacher_391 + teacher_392 + teacher_393 + teacher_394 + teacher_395 + teacher_396 + teacher_397 + teacher_398 + teacher_399 + teacher_400 + teacher_401 + teacher_402 + teacher_403 + teacher_404 + teacher_405 + teacher_406 + teacher_407 + teacher_408 + teacher_409 + teacher_410 + teacher_411 + teacher_412 + teacher_413 + teacher_414 + teacher_415 + teacher_416 + teacher_417 + teacher_418 + teacher_419 + teacher_420 + teacher_421 + teacher_422 + teacher_423 + teacher_424 + teacher_425 + teacher_426 + teacher_427 + teacher_428 + teacher_429 + teacher_430 + teacher_431 + teacher_432 + teacher_433 + teacher_434 + teacher_435 + teacher_436 + teacher_437 + teacher_438 + teacher_439 + teacher_440 + teacher_441 + teacher_442 + teacher_443 + teacher_444 + teacher_445 + teacher_446 + teacher_447 + teacher_448 + teacher_449 + teacher_450 + teacher_451 + teacher_452 + teacher_453 + teacher_454 + teacher_455 + teacher_456 + teacher_457 + teacher_458 + teacher_459 + teacher_460 + teacher_461 + teacher_462 + teacher_463 + teacher_464 + teacher_465 + teacher_466 + teacher_467 + teacher_468 + teacher_469 + teacher_470 + teacher_471 + teacher_472 + teacher_473 + teacher_474 + teacher_475 + teacher_476 + teacher_477 + teacher_478 + teacher_479 + teacher_480 + teacher_481 + teacher_482 + teacher_483 + teacher_484 + teacher_485 + teacher_486 + teacher_487 + teacher_488 + teacher_489 + teacher_490 + teacher_491 + teacher_492 + teacher_493 + teacher_494 + teacher_495 + teacher_496 + teacher_497 + teacher_498 + teacher_499 + teacher_500 + teacher_501 + teacher_502 + teacher_503 + teacher_504 + teacher_505 + teacher_506 + teacher_507 + teacher_508 + teacher_509 + teacher_510 + teacher_511 + teacher_512 + teacher_513 + teacher_514 + teacher_515 + teacher_516 + teacher_517 + teacher_518 + teacher_519 + teacher_520 + teacher_521 + teacher_522 + teacher_523 + teacher_524 + teacher_525 + teacher_526 + teacher_527 + teacher_528 + teacher_529 + teacher_530 + teacher_531 + teacher_532 + teacher_533 + teacher_534 + teacher_535 + teacher_536 + teacher_537 + teacher_538 + teacher_539 + teacher_540 + teacher_541 + teacher_542 + teacher_543 + teacher_544 + teacher_545 + teacher_546 + teacher_547 + teacher_548 + teacher_549 + teacher_550 + teacher_551 + teacher_552 + teacher_553 + teacher_554 + teacher_555 + teacher_556 + teacher_557 + teacher_558 + teacher_559 + teacher_560 + teacher_561 + teacher_562 + teacher_563 + teacher_564 + teacher_565 + teacher_566 + teacher_567 + teacher_568 + teacher_569 + teacher_570 + teacher_571 + teacher_572 + teacher_573 + teacher_574 + teacher_575 + teacher_576 + teacher_577 + teacher_578 + teacher_579 + teacher_580 + teacher_581 + teacher_582 + teacher_583 + teacher_584 + teacher_585 + teacher_586 + teacher_587 + teacher_588 + teacher_589 + teacher_590 + teacher_591 + teacher_592 + teacher_593 + teacher_594 + teacher_595 + teacher_596 + teacher_597 + teacher_598 + teacher_599 + teacher_600 + teacher_601 + teacher_602 + teacher_603 + teacher_604 + teacher_605 + teacher_606 + teacher_607 + teacher_608 + teacher_609 + teacher_610 + teacher_611 + teacher_612 + teacher_613 + teacher_614 + teacher_615 + teacher_616 + teacher_617 + teacher_618 + teacher_619 + teacher_620 + teacher_621 + teacher_622 + teacher_623 + teacher_624 + teacher_625 + teacher_626 + teacher_627 + teacher_628 + teacher_629 + teacher_630 + teacher_631 + teacher_632 + teacher_633 + teacher_634 + teacher_635 + teacher_636 + teacher_637 + teacher_638 + teacher_639 + teacher_640 + teacher_641 + teacher_642 + teacher_643 + teacher_644 + teacher_645 + teacher_646 + teacher_647 + teacher_648 + teacher_649 + teacher_650 + teacher_651 + teacher_652 + teacher_653 + teacher_654 + teacher_655 + teacher_656 + teacher_657 + teacher_658 + teacher_659 + teacher_660 + teacher_661 + teacher_662 + teacher_663 + teacher_664 + teacher_665 + teacher_666 + teacher_667 + teacher_668 + teacher_669 + teacher_670 + teacher_671 + teacher_672 + teacher_673 + teacher_674 + teacher_675 + teacher_676 + teacher_677 + teacher_678 + teacher_679 + teacher_680 + teacher_681 + teacher_682 + teacher_683 + teacher_684 + teacher_685 + teacher_686 + teacher_687 + teacher_688 + teacher_689 + teacher_690 + teacher_691 + teacher_692 + teacher_693 + teacher_694 + teacher_695 + teacher_696 + teacher_697 + teacher_698 + teacher_699 + teacher_700 + teacher_701 + teacher_702 + teacher_703 + teacher_704 + teacher_705 + teacher_706 + teacher_707 + teacher_708 + teacher_709 + teacher_710 + teacher_711 + teacher_712 + teacher_713 + teacher_714 + teacher_715 + teacher_716 + teacher_717 + teacher_718 + teacher_719 + teacher_720 + teacher_721 + teacher_722 + teacher_723 + teacher_724 + teacher_725 + teacher_726 + teacher_727 + teacher_728 + teacher_729 + teacher_730 + teacher_731 + teacher_732 + teacher_733 + teacher_734 + teacher_735 + teacher_736 + teacher_737 + teacher_738 + teacher_739 + teacher_740 + teacher_741 + teacher_742 + teacher_743 + teacher_744 + teacher_745 + teacher_746 + teacher_747 + teacher_748 + teacher_749 + teacher_750 + teacher_751 + teacher_752 + teacher_753 + teacher_754 + teacher_755 + teacher_756 + teacher_757 + teacher_758 + teacher_759 + teacher_760 + teacher_761 + teacher_762 + teacher_763 + teacher_764 + teacher_765 + teacher_766 + teacher_767 + teacher_768 + teacher_769 + teacher_770 + teacher_771 + teacher_772 + teacher_773 + teacher_774 + teacher_775 + teacher_776 + teacher_777 + teacher_778 + teacher_779 + teacher_780 + teacher_781 + teacher_782 + teacher_783 + teacher_784 + teacher_785 + teacher_786 + teacher_787 + teacher_788 + teacher_789 + teacher_790 + teacher_791 + teacher_792 + teacher_793 + teacher_794 + teacher_795 + teacher_796 + teacher_797 + teacher_798 + teacher_799 + teacher_800 + teacher_801 + teacher_802 + teacher_803 + teacher_804 + teacher_805 + teacher_806 + teacher_807 + teacher_808 + teacher_809 + teacher_810 + teacher_811 + teacher_812 + teacher_813 + teacher_814 + teacher_815 + teacher_816 + teacher_817 + teacher_818 + teacher_819 + teacher_820 + teacher_821 + teacher_822 + teacher_823 + teacher_824 + teacher_825 + teacher_826 + teacher_827 + teacher_828 + teacher_829 + teacher_830 + teacher_831 + teacher_832 + teacher_833 + teacher_834 + teacher_835 + teacher_836 + teacher_837 + teacher_838 + teacher_839 + teacher_840 + teacher_841 + teacher_842 + teacher_843 + teacher_844 + teacher_845 + teacher_846 + teacher_847 + teacher_848 + teacher_849 + teacher_850 + teacher_851 + teacher_852 + teacher_853 + teacher_854 + teacher_855 + teacher_856 + teacher_857 + teacher_858 + teacher_859 + teacher_860 + teacher_861 + teacher_862 + teacher_863 + teacher_864 + teacher_865 + teacher_866 + teacher_867 + teacher_868 + teacher_869 + teacher_870 + teacher_871 + teacher_872 + teacher_873 + teacher_874 + teacher_875 + teacher_876 + teacher_877 + teacher_878 + teacher_879 + teacher_880 + teacher_881 + teacher_882 + teacher_883 + teacher_884 + teacher_885 + teacher_886 + teacher_887 + teacher_888 + teacher_889 + teacher_890 + teacher_891 + teacher_892 + teacher_893 + teacher_894 + teacher_895 + teacher_896 + teacher_897 + teacher_898 + teacher_899 + teacher_900 + teacher_901 + teacher_902 + teacher_903 + teacher_904 + teacher_905 + teacher_906 + teacher_907 + teacher_908 + teacher_909 + teacher_910 + teacher_911 + teacher_912 + teacher_913 + teacher_914 + teacher_915 + teacher_916 + teacher_917 + teacher_918 + teacher_919 + teacher_920 + teacher_921 + teacher_922 + teacher_923 + teacher_924 + teacher_925 + teacher_926 + teacher_927 + teacher_928 + teacher_929 + teacher_930 + teacher_931 + teacher_932 + teacher_933 + teacher_934 + teacher_935 + teacher_936 + teacher_937 + teacher_938 + teacher_939 + teacher_940 + teacher_941 + teacher_942 + teacher_943 + teacher_944 + teacher_945 + teacher_946 + teacher_947 + teacher_948 + teacher_949 + teacher_950 + teacher_951 + teacher_952 + teacher_953 + teacher_954 + teacher_955 + teacher_956 + teacher_957 + teacher_958 + teacher_959 + teacher_960 + teacher_961 + teacher_962 + teacher_963 + teacher_964 + teacher_965 + teacher_966 + teacher_967 + teacher_968 + teacher_969 + teacher_970 + teacher_971 + teacher_972 + teacher_973 + teacher_974 + teacher_975 + teacher_976 + teacher_977 + teacher_978 + teacher_979 + teacher_980 + teacher_981 + teacher_982 + teacher_983 + teacher_984 + teacher_985 + teacher_986 + teacher_987 + teacher_988 + teacher_989 + teacher_990 + teacher_991 + teacher_992 + teacher_993 + teacher_994 + teacher_995 + teacher_996 + teacher_997 + teacher_998 + teacher_999 + teacher_1000 + teacher_1001 + teacher_1002 + teacher_1003 + teacher_1004 + teacher_1005 + teacher_1006 + teacher_1007 + teacher_1008 + teacher_1009 + teacher_1010 + teacher_1011 + teacher_1012 + teacher_1013 + teacher_1014 + teacher_1015 + teacher_1016 + teacher_1017 + teacher_1018 + teacher_1019 + teacher_1020 + teacher_1021 + teacher_1022 + teacher_1023 + teacher_1024 + teacher_1025 + teacher_1026 + teacher_1027 + teacher_1028 + teacher_1029 + teacher_1030 + teacher_1031 + teacher_1032 + teacher_1033 + teacher_1034 + teacher_1035 + teacher_1036 + teacher_1037 + teacher_1038 + teacher_1039 + teacher_1040 + teacher_1041 + teacher_1042 + teacher_1043 + teacher_1044 + teacher_1045 + teacher_1046 + teacher_1047 + teacher_1048 + teacher_1049 + teacher_1050 + teacher_1051 + teacher_1052 + teacher_1053 + teacher_1054 + teacher_1055 + teacher_1056 + teacher_1057 + teacher_1058 + teacher_1059 + teacher_1060 + teacher_1061 + teacher_1062 + teacher_1063 + teacher_1064 + teacher_1065 + teacher_1066 + teacher_1067 + teacher_1068 + teacher_1069 + teacher_1070 + teacher_1071 + teacher_1072 + teacher_1073 + teacher_1074 + teacher_1075 + teacher_1076 + teacher_1077 + teacher_1078 + teacher_1079 + teacher_1080 + teacher_1081 + teacher_1082 + teacher_1083 + teacher_1084 + teacher_1085 + teacher_1086 + teacher_1087 + teacher_1088 + teacher_1089 + teacher_1090 + teacher_1091 + teacher_1092 + teacher_1093 + teacher_1094 + teacher_1095 + teacher_1096 + teacher_1097 + teacher_1098 + teacher_1099 + teacher_1100 + teacher_1101 + teacher_1102 + teacher_1103 + teacher_1104 + teacher_1105 + teacher_1106 + teacher_1107 + teacher_1108 + teacher_1109 + teacher_1110 + teacher_1111 + teacher_1112 + teacher_1113 + teacher_1114 + teacher_1115 + teacher_1116 + teacher_1117 + teacher_1118 + teacher_1119 + teacher_1120 + teacher_1121 + teacher_1122 + teacher_1123 + teacher_1124 + teacher_1125 + teacher_1126 + teacher_1127 + teacher_1128 + teacher_1129 + teacher_1130 + teacher_1131 + teacher_1132 + teacher_1133 + teacher_1134 + teacher_1135 + teacher_1136 + teacher_1137 + teacher_1138 + teacher_1139 + teacher_1140 + teacher_1141 + teacher_1142 + teacher_1143 + teacher_1144 + teacher_1145 + teacher_1146 + teacher_1147 + teacher_1148 + teacher_1149 + teacher_1150 + teacher_1151 + teacher_1152 + teacher_1153 + teacher_1154 + teacher_1155 + teacher_1156 + teacher_1157 + teacher_1158 + teacher_1159 + teacher_1160 + teacher_1161 + teacher_1162 + teacher_1163 + teacher_1164 + teacher_1165 + teacher_1166 + teacher_1167 + teacher_1168 + teacher_1169 + teacher_1170 + teacher_1171 + teacher_1172 + teacher_1173 + teacher_1174 + teacher_1175 + teacher_1176 + teacher_1177 + teacher_1178 + teacher_1179 + teacher_1180 + teacher_1181 + teacher_1182 + teacher_1183 + teacher_1184 + teacher_1185 + teacher_1186 + teacher_1187 + teacher_1188 + teacher_1189 + teacher_1190 + teacher_1191 + teacher_1192 + teacher_1193 + teacher_1194 + teacher_1195 + teacher_1196 + teacher_1197 + teacher_1198 + teacher_1199 + teacher_1200

In [100]:
model = ols(regstring, data=df).fit()

# fitted values
df['fitted'] = model.fittedvalues

# residuals
df['resid'] = df['score_std']- df['fitted']

coefs = model.params[-Gbutnotgrade:]

### Predict bhats ###
for i in range(0,len(coefs)):
    df['resid'] += df[varlist[i]]*coefs[i]

In [109]:
df2 = df.iloc[:,-3:]
df2.to_csv('va-data-updated_RESIDS.csv')
df2.tail(100)

        teacher_1200    fitted     resid
275045             0  0.226513  0.390972
275046             0  0.211135 -0.878787
275047             0  0.211980  0.383357
275048             0  0.237123  0.601323
275049             0  0.217381  0.260890
...              ...       ...       ...
275140             0 -0.256917 -0.341425
275141             0 -0.252190  0.103387
275142             0 -0.245875  2.114295
275143             0 -0.236604  0.252848
275144             0 -0.259867 -0.512049

[100 rows x 3 columns]

In [111]:
df

,year,id_school,id_grade,id_teacher,id_class,id_student,id_cohort,m_education,hh_income,sd_indv,...,teacher_1193,teacher_1194,teacher_1195,teacher_1196,teacher_1197,teacher_1198,teacher_1199,teacher_1200,fitted,resid
0,2000,1,3,1,3,6,6,8,13566.4960,0.090079,...,0,0,0,0,0,0,0,0,NaN,NaN
1,2000,1,3,1,3,3906,6,12,4036.5371,0.090079,...,0,0,0,0,0,0,0,0,NaN,NaN
2,2000,1,3,1,3,4556,6,21,15218.5520,0.090079,...,0,0,0,0,0,0,0,0,NaN,NaN
3,2000,1,3,1,3,5206,6,18,11004.5960,0.090079,...,0,0,0,0,0,0,0,0,NaN,NaN
4,2000,1,3,1,3,10406,6,11,7115.0620,0.090079,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275140,2007,50,8,1195,2,61095,8,13,9672.5244,0.091732,...,0,0,1,0,0,0,0,0,-0.256917,-0.341425
275141,2007,50,8,1195,2,61745,8,10,11412.5220,0.091732,...,0,0,1,0,0,0,0,0,-0.252190,0.103387
275142,2007,50,8,1195,2,69544,8,15,19232.5860,0.091732,...,0,0,1,0,0,0,0,0,-0.245875,2.114295
275143,2007,50,8,1195,2,70842,8,11,11815.5850,0.091732,...,0,0,1,0,0,0,0,0,-0.236604,0.252848
275144,2007,50,8,1195,2,74693,8,11,8873.2871,0.091732,...,0,0,1,0,0,0,0,0,-0.259867,-0.512049

In [110]:
### export to r ###

df3 = df.iloc[: , :-Gbutnotgrade]
df3.to_csv('va-data-updated.csv')

### Step 2: Estimation of variance component

1. Estimate individual level variance of residual test scores

sigma_eps = MSE * (N-1)/(N-K-C+1)

where MSE is variance of within-classroom deviations of A_it, N is total number of students, C is total number of classrooms, and K is number of control variables in the X_it vector

2. Then construct precision-weighted averages of classroom-average scores within a teacher-year

weight_ct = 1/(sigma_theta + (sigma_eps/n_ct))

where sigma_theta is estimate of class-level variance and n_ct is num student sin classroom

3. Now estimate sigma_A0 which is covariance of test scores of adjacent classrooms in each teacher-year cell (weighting each pair by sum of students taught)

4. Then estimate sigma_As which is covariance between mean scores across years within teachers

In [13]:
# get N, K, C
N = df.count()
C = df.groupby('id_class').count()
print(model.params)
K = len(model.params)
print(K)

# compute total variance
sigma_A = df.loc[:,'res'].var() * ((N-1)/(N-K))

# compute within class variance
df['class_mean'] = df.groupby(['id_school', 'year', 'id_class', 'id_teacher'])['resid'].transform(lambda x: x.mean())
df['dev_from_mean'] = df.groupby(['id_school', 'year', 'id_class', 'id_teacher'])['resid'].transform(lambda x: x-x.mean())
sigma_eps = df.loc[:,'dev_from_mean'].var() * ((N-1)/(N-K-C+1))

# compute class-level variance
# create class-level dataset
df_class_means = df[['id_school', 'year', 'id_grade', 'id_teacher', 'id_cohort', 'id_class', 'class_mean', 'class_size']]
df_class = df_class_means.drop_duplicates()
df_class.head(20)
df.head(20)
# ok tbh not sure how to do this but going to bed now


# create teacher-level dataset

Intercept            -2.006587e+00
C(id_teacher)[T.2]   -9.882783e-03
C(id_teacher)[T.3]    4.992024e-12
C(id_teacher)[T.4]    4.000407e-02
C(id_teacher)[T.5]    3.552055e-02
                          ...
class_m_education     8.658118e-04
class_hh_income       2.496810e-04
school_m_education   -2.651317e-03
school_hh_income     -2.527984e-05
class_size            2.153381e-04
Length: 1235, dtype: float64
1235

,year,id_school,id_grade,id_teacher,id_class,id_student,id_cohort,m_education,hh_income,sd_indv,...,class_m_education,class_hh_income,school_m_education,school_hh_income,class_size,fitted,resid,res,class_mean,dev_from_mean
0,2000,1,3,1,3,6,6,8,13566.4960,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
1,2000,1,3,1,3,3906,6,12,4036.5371,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
2,2000,1,3,1,3,4556,6,21,15218.5520,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
3,2000,1,3,1,3,5206,6,18,11004.5960,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
4,2000,1,3,1,3,10406,6,11,7115.0620,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
5,2000,1,3,1,3,11056,6,8,12077.7380,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
6,2000,1,3,1,3,13006,6,12,11763.7670,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
7,2000,1,3,1,3,13656,6,17,8696.1416,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
8,2000,1,3,1,3,15606,6,17,11672.7940,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
9,2000,1,3,1,3,16256,6,11,13593.5510,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
10,2000,1,3,1,3,17556,6,16,18483.3030,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
11,2000,1,3,1,3,19506,6,14,3698.2666,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
12,2000,1,3,1,3,20806,6,18,7890.9346,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
13,2000,1,3,1,3,21456,6,16,11549.1650,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
14,2000,1,3,1,3,24056,6,17,14256.8670,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
15,2000,1,3,1,3,25356,6,8,10231.1380,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
16,2000,1,3,1,3,28606,6,24,14410.0820,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
17,2000,1,3,1,3,32506,6,10,7920.0044,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
18,2000,1,3,1,3,33806,6,9,7096.6689,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN
19,2000,1,3,1,3,34456,6,22,7386.4468,0.090079,...,15.076923,11617.359038,16.427338,12113.516428,26,NaN,NaN,NaN,NaN,NaN

### Step 3: Construction of VA estimates

1. Construct bar(A_j_-t) = vector of teacher-year-mean scores used to predict teacher j's VA in year t. N_jt is the length of this vector

2. Construct BLP of teacher quality in year t as 

mu_jt = (inv(Sigma_Ajt)\*gamma_jt)'\*bar(A_j_-t)

where gamma_jt is N_jt x 1, Sigma_Ajt is N_jt x N_jt - see appendix for what each element is

and we are done